* {
    padding: 0;
    margin: 0;
}

body {
    font: 12px/1.5 "微软雅黑";
    /* text-align: center; */
}

.box {
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-right-color: #000;
}