* {
    padding: 0;
    margin: 0;
}

body {
    font: 12px/1.5 "微软雅黑";
    text-align: center;
}

.box1 {
    position: absolute;
    top: 500px;
    left: 500px;
    width: 200px;
    height: 200px;
    background-color: pink;
}

.box2 {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 400px;
    background-color: skyblue;
}

.box3 {
    width: 200px;
    height: 200px;
    background-color: hotpink;
}