* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 "微软雅黑";
    text-align: center;
    background: #f5f5f5;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

li {
    float: right;
    list-style-type: none;
}

a {
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}

a:hover {
    box-shadow: 0px 15px 30px rgb(0, 0, 0, .1);
}

div>p {
    color: rgb(176, 176, 176);
    font-size: 12px;
}

a>p {
    color: #ff6700;
}

.box {
    margin: 50px auto;
    width: 1226px;
    height: 613px;
    /* display: block-inline; */
}

.product {
    width: 234px;
    height: 300px;
    display: inline-block;
    margin-left: 14px;
    margin-bottom: 14px;
}

.image {
    width: 234px;
    height: 613px;
    float: left;
    background-image: url(../image/xiaomi_mix_alpha.jpg);
}

.introduction {
    width: 214px;
    height: 40px;
    margin-bottom: 14px;
    /* text-align: center; */
    display: inline-block;
}