body {
    font-size: 16px;
    font-weight: normal;
    font-family: "微软雅黑";
    text-indent: 2em;
}

div {
    background-color: rgb(83, 87, 88);
    width: 234px;
    height: 460px;
}

a {
    text-decoration: none;
    color: white;
    background-color: rgb(83, 87, 88);
    display: block;
    width: 234px;
    height: 42px;
    line-height: 42px;
}

a:link {}

a:visited {}

a:hover {
    background-color: rgb(255, 103, 0);
}

a:active {}