* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 "微软雅黑";
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
}


/* 导航栏区域 */

.top {
    width: 100%;
    height: 100px;
    background-color: #f3f5f7;
}

.top-main {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1200px;
    height: 42px;
    /* background-color: pink; */
}

.top-main img {
    float: left;
    line-height: 42px;
}

.top-nav {
    float: left;
    margin-left: 40px;
}

.top-nav li {
    float: left;
    list-style-type: none;
}

.top-nav li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.top-nav li a h3 {
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    font-weight: 400;
    color: #424243;
    text-align: center;
}

.top-nav li a h3:hover {
    border-bottom: 2px solid blue;
}

.top-input {
    float: left;
    width: 410px;
    height: 40px;
    line-height: 40px;
}

.top-input .search {
    float: left;
    padding-left: 15px;
    width: 344px;
    height: 38px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
}

.top-input .button {
    float: left;
    width: 50px;
    height: 40px;
    color: #00a4ff;
    background-image: url(./images/fa-search.png);
    border: 0;
}

.user {
    float: left;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    line-height: 30px;
}


/* 广告区域 */

.image {
    width: 100%;
    height: 420px;
    background: url(./images/banner2.png) no-repeat center top;
}

.nav {
    margin: 0 auto;
    width: 1200px;
    height: 420px;
}


/* 左侧导航栏区域 */

.nav-left {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(153, 153, 153, 0.05);
}

.nav-left ul li {
    width: 20px 4px;
    height: 42px;
    list-style-type: none;
}

.nav-left ul li a {
    display: block;
    padding-left: 30px;
    text-decoration: none;
    color: white;
    /* background-color: rgb(83, 87, 88); */
    line-height: 42px;
}

.nav-left-first {
    margin-top: 20px;
}

.nav-left ul li a span {
    float: right;
    padding-right: 20px;
}

.nav-left ul li a:hover {
    color: #00b4ff;
}


/* 右侧导航栏区域 */

.learn {
    float: left;
    display: block;
    float: left;
    width: 782px;
    height: 420px;
}

.nav-right {
    float: right;
    margin-top: 50px;
    margin-bottom: 70px;
    width: 228px;
    height: 300px;
    background-color: #fff;
}

.nav-right h3 {
    display: block;
    width: 228px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    background-color: #9bceea;
}

.nav-right ul {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-right ul li {
    padding-bottom: 20px;
    width: 190px;
    height: 39px;
    list-style: none;
    border-bottom: 1px solid #efefef;
}

.nav-right ul li .continue {
    font-size: 16px;
    color: #5a5a5a;
}

.nav-right ul li .learning {
    font-size: 14px;
    color: #bdbdbd;
}

.nav-right a {
    display: block;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 5px;
    width: 198px;
    height: 38px;
    border: 1px solid #22b0ff;
    color: #22b0ff;
    background-color: #fff;
    text-align: center;
    line-height: 38px;
    font-weight: 700;
}


/* 主要内容区域 */

.main {
    margin: 0 auto;
    width: 1200px;
    height: 2383px;
    /* background-color: plum; */
}


/* 精品推荐 */

.recommend-nav {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 1200px;
    height: 60px;
    /* background-color: powderblue; */
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .3);
}

.recommend-nav-content {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 1200px;
    height: 16px;
    /* background-color: pink; */
}

.recommend-nav-content ul li {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
}

.recommend-nav-content ul .first {
    font-weight: 700;
    color: #00a4ff;
}

.recommend-nav-content ul .next {
    border-left: 1px solid #bfbfbf;
    color: #000;
}

.recommend-nav-content p {
    float: right;
    margin-right: 30px;
    color: #00a4ff;
}

.recommend-nav-content a {
    color: #000;
}

.recommend-top {
    margin-bottom: 20px;
    height: 20px;
}

.recommend-top h3 {
    float: left;
    font-weight: 400;
    color: #494949;
}

.recommend-top p {
    margin-top: 10px;
    margin-right: 12px;
    float: right;
    font-size: 12px;
}

.recommend-top p a {
    color: #a5a5a5;
}

.recommend-main {
    height: 570px;
}

.recommend-main ul li {
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    list-style: none;
    background-color: #fff;
}

.recommend-main ul .left-first {
    margin-left: 0px;
}

.recommend-main ul li img {
    width: 228px;
    height: 155px;
}

.recommend-main ul li .line-first {
    margin: 17px 25px;
    color: #050505;
}

.recommend-main ul li .line-second {
    height: 12px;
    color: #050505;
}

.recommend-main ul li .content-1 {
    float: left;
    margin-left: 25px;
    color: #ff7c2d;
    font-size: 12px;
}

.recommend-main ul li .content-2,
.recommend-main ul li .content-3 {
    float: left;
    margin-left: 10px;
    font-size: 12px;
    color: #999999;
}

.program-nav {
    height: 41px;
    background-color: skyblue;
}

.program-main {
    margin-bottom: 40px;
    height: 392px;
    background-color: powderblue;
}

.data-nav {
    height: 41px;
    background-color: skyblue;
}

.data-main {
    margin-bottom: 40px;
    height: 392px;
    background-color: powderblue;
}

.machineLearn-nav {
    height: 40px;
    background-color: skyblue;
}

.machineLearn-main {
    margin-bottom: 40px;
    height: 270px;
    background-color: powderblue;
}

.front-endDevelopers-nav {
    height: 40px;
    background-color: skyblue;
}

.front-endDevelopers-main {
    margin-bottom: 40px;
    height: 270px;
    background-color: powderblue;
}


/* 结尾区域 */

.footer {
    width: 100%;
    height: 418px;
    background-color: peru;
}