* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/1.5 "微软雅黑";
    background-color: #f3f5f7;
}

a {
    text-decoration: none;
}

.top {
    width: 100%;
    height: 100px;
    background-color: #f3f5f7;
}

.top-main {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1200px;
    height: 42px;
    /* background-color: pink; */
}

.top-main img {
    float: left;
    line-height: 42px;
}

.top-nav {
    float: left;
    margin-left: 40px;
}

.top-nav li {
    float: left;
    list-style-type: none;
}

.top-nav li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.top-nav li a h3 {
    padding-left: 10px;
    padding-right: 10px;
    height: 38px;
    font-weight: 400;
    color: #424243;
    text-align: center;
}

.top-nav li a h3:hover {
    border-bottom: 2px solid blue;
}

.top-input {
    float: left;
}

.user {
    height: 100px;
    float: right;
    line-height: 100px;
}

.image {
    width: 100%;
    height: 420px;
    background: url(./images/banner2.png) no-repeat center top;
}

.nav {
    margin: 0 auto;
    width: 1200px;
    height: 420px;
}

.nav-left {
    float: left;
    width: 190px;
    height: 420px;
}

.nav-left ul li {
    width: 20px 4px;
    height: 42px;
    list-style-type: none;
}

.nav-left ul li a {
    text-decoration: none;
    color: white;
    /* background-color: rgb(83, 87, 88); */
    display: block;
    line-height: 42px;
    padding-left: 30px;
}

.learn {
    float: left;
    display: block;
    float: left;
    width: 785px;
    height: 420px;
}

.nav-right {
    float: right;
    width: 225px;
    height: 300px;
    background-color: powderblue;
}

.main {
    margin: 0 auto;
    width: 1200px;
    height: 2383px;
    background-color: plum;
}

.recommend-nav {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 1200px;
    height: 60px;
    background-color: powderblue;
}

.recommend-top {
    height: 42px;
    background-color: skyblue;
}

.recommend-main {
    margin-bottom: 23px;
    height: 456px;
    background-color: powderblue;
}

.program-nav {
    height: 41px;
    background-color: skyblue;
}

.program-main {
    margin-bottom: 40px;
    height: 392px;
    background-color: powderblue;
}

.data-nav {
    height: 41px;
    background-color: skyblue;
}

.data-main {
    margin-bottom: 40px;
    height: 392px;
    background-color: powderblue;
}

.machineLearn-nav {
    height: 40px;
    background-color: skyblue;
}

.machineLearn-main {
    margin-bottom: 40px;
    height: 270px;
    background-color: powderblue;
}

.front-endDevelopers-nav {
    height: 40px;
    background-color: skyblue;
}

.front-endDevelopers-main {
    margin-bottom: 40px;
    height: 270px;
    background-color: powderblue;
}

.footer {
    width: 100%;
    height: 418px;
    background-color: peru;
}